In [12]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [13]:
df_submit = pd.read_csv("../submissions/48_use_truth.csv")
df_val = pd.read_csv("./validation.csv")
df_val["True"] = df_val["Total Charged"]

In [14]:
df_submit, df_val

(     Invoice Number  Total Charged
 0         X15688941      13957.770
 1         813728138       7381.590
 2         G42174195       4098.920
 3          27307572       7737.880
 4         E37309831      14208.680
 ...             ...            ...
 8406      207061731        640.380
 8407      B91149000       7919.280
 8408      I80104458       9327.080
 8409      E26231313       4924.730
 8410      400092943       9102.570

 [8411 rows x 2 columns],
    Invoice Number  Total Charged      True
 0       J34221786       1667.410  1667.410
 1        91553298       5973.420  5973.420
 2       L99419642       2597.250  2597.250
 3       208916735      13882.020 13882.020
 4       G57865835      22225.310 22225.310
 5       869402605      44127.930 44127.930
 6       L85969620       9618.820  9618.820
 7       914131153       3041.660  3041.660
 8       S46037761       4047.860  4047.860
 9       P05783450      23506.740 23506.740
 10      164117733      15062.840 15062.840
 11      O47020515      30031.660 30031.660
 12       81264796      29000.140 29000.140
 13      894159620      19639.920 19639.920
 14      984736170       7596.410  7596.410
 15      907523490      23541.910 23541.910
 16      B59425742       9443.540  9443.540
 17      D48790298       5408.960  5408.960
 18      L91824062       9981.670  9981.670
 19      C03976168       9442.160  9442.160
 20      J11081438      22912.280 22912.280
 21      204588984      15079.380 15079.380
 22      505276870       2675.340  2675.340
 23      A79205735      14915.960 14915.960
 24      217126073      13481.470 13481.470
 25      298664932      29312.350 29312.350
 26      M12397387      13099.480 13099.480
 27      934729720       3249.650  3249.650
 28      972427062       3839.680  3839.680
 29      P84121113      28280.720 28280.720
 30      D23588185      15266.980 15266.980
 31      G87374014       4338.420  4338.420
 32      270410669       4547.380  4547.380
 33      K91488670      20201.480 20201.480
 34      225980812       4351.860  4351.860
 35      716630221      40112.090 40112.090
 36      392535148       1998.980  1998.980
 37      T60818420       7427.040  7427.040
 38      E27659101      10010.680 10010.680
 39       38185224      10741.390 10741.390
 40      T27582890      18955.180 18955.180
 41      819391227       7153.840  7153.840
 42      A92113296       9192.290  9192.290
 43      951186207       4802.720  4802.720
 44      B78072065       3712.260  3712.260
 45      980383315       5852.930  5852.930
 46      715366169      17148.160 17148.160
 47       48598560      60470.020 60470.020
 48      340621435      13622.710 13622.710)

In [15]:
# join dataframes
df = pd.merge(df_submit, df_val, on='Invoice Number')
df["diff"] = df["True"] - df["Total Charged_x"]
df.sort_values(by="diff")

   Invoice Number  Total Charged_x  Total Charged_y      True      diff
13      340621435        17982.710        13622.710 13622.710 -4360.000
48      392535148         5484.760         1998.980  1998.980 -3485.780
19      C03976168        10766.050         9442.160  9442.160 -1323.890
44      L85969620        10093.820         9618.820  9618.820  -475.000
3       217126073        13931.470        13481.470 13481.470  -450.000
7       S46037761         4387.860         4047.860  4047.860  -340.000
42      G87374014         4527.180         4338.420  4338.420  -188.760
43      505276870         2780.330         2675.340  2675.340  -104.990
25      B59425742         9543.540         9443.540  9443.540  -100.000
12      914131153         3126.660         3041.660  3041.660   -85.000
9       K91488670        20248.980        20201.480 20201.480   -47.500
15      164117733        15107.840        15062.840 15062.840   -45.000
10      M12397387        13113.880        13099.480 13099.480   -14.400
40      225980812         4351.860         4351.860  4351.860    -0.000
21      J11081438        22912.280        22912.280 22912.280     0.000
38      D48790298         5408.960         5408.960  5408.960     0.000
39      E27659101        10010.680        10010.680 10010.680     0.000
29      204588984        15079.380        15079.380 15079.380     0.000
26      B78072065         3712.260         3712.260  3712.260     0.000
31      L99419642         2597.250         2597.250  2597.250     0.000
0       J34221786         1667.410         1667.410  1667.410     0.000
18      972427062         3839.680         3839.680  3839.680     0.000
5        91553298         5973.420         5973.420  5973.420     0.000
14      P84121113        28280.720        28280.720 28280.720     0.000
16      934729720         3249.650         3249.650  3249.650     0.000
24      298664932        29312.350        29312.350 29312.350     0.000
17      819391227         7153.840         7153.840  7153.840     0.000
22       38185224        10741.380        10741.390 10741.390     0.010
35      980383315         5852.920         5852.930  5852.930     0.010
33      984736170         7596.400         7596.410  7596.410     0.010
36      D23588185        15266.910        15266.980 15266.980     0.070
8       951186207         4802.110         4802.720  4802.720     0.610
34      A79205735        14867.650        14915.960 14915.960    48.310
37      715366169        16795.900        17148.160 17148.160   352.260
30      T27582890        18350.280        18955.180 18955.180   604.900
2        81264796        27755.740        29000.140 29000.140  1244.400
20      907523490        22121.910        23541.910 23541.910  1420.000
11      208916735        12447.010        13882.020 13882.020  1435.010
4       270410669         3106.380         4547.380  4547.380  1441.000
41      T60818420         4037.040         7427.040  7427.040  3390.000
23      G57865835        18597.500        22225.310 22225.310  3627.810
1       L91824062         6076.670         9981.670  9981.670  3905.000
6       A92113296         1860.010         9192.290  9192.290  7332.280
47      894159620         9102.570        19639.920 19639.920 10537.350
32      O47020515        17831.660        30031.660 30031.660 12200.000
27      P05783450        11222.740        23506.740 23506.740 12284.000
45      716630221        11606.040        40112.090 40112.090 28506.050
28      869402605         9102.570        44127.930 44127.930 35025.360
46       48598560         6437.730        60470.020 60470.020 54032.290

In [16]:
# MAE
df["diff"].abs().mean()

3845.0418367346942