In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd

from lib.data import load_extracted_samples
from lib.text import try_extract_from_text

In [3]:
samples = load_extracted_samples()

for sample in samples:
    sample = sample.update(try_extract_from_text(sample["text"]))

In [4]:
df = pd.json_normalize(samples)
df["has_text"] = df["text"].apply(lambda x: len(x) > 0)
# df

In [5]:
# all samples that have text should have total
df[df["has_text"] & df["total"].isna()]

Empty DataFrame
Columns: [filename, size, pages, text, images, invoice, total, has_text]
Index: []

In [6]:
# all samples that have text should have invoice
df[df["has_text"] & df["invoice"].isna()]

Empty DataFrame
Columns: [filename, size, pages, text, images, invoice, total, has_text]
Index: []

In [7]:
# invoice string should not be too short
df[df["invoice"].str.len() < 6]

Empty DataFrame
Columns: [filename, size, pages, text, images, invoice, total, has_text]
Index: []

In [8]:
# invoice string should be alphanumeric
df[df["has_text"] & ~(df["invoice"].isna() | df["invoice"].str.isalnum())]

Empty DataFrame
Columns: [filename, size, pages, text, images, invoice, total, has_text]
Index: []

In [9]:
# complete data
df[df["has_text"] & df["total"].notna() & df["invoice"].notna()]

,filename,size,pages,text,images,invoice,total,has_text
0,102819958.pdf,54567,2,Invoice num.: 102819958\nInvoice issued: Oct 9...,[],102819958,24585.89,True
1,105002622.pdf,46078,2,"Inv.: 105002622\n: Nov 4, 2022\nCollins, Orteg...",[],105002622,27216.52,True
5,109849880.pdf,46680,2,": 109849880\nRecord date: Mar 28, 2023\nHuber ...",[],109849880,9111.77,True
8,113028839.pdf,46698,2,"Issuance date: Feb 9, 2021\nNum: 113028839\nCa...",[],113028839,54148.19,True
21,126722170.pdf,46137,2,"Date of Exposure: Dec 20, 2021\nLocator #: 126...",[],126722170,15948.63,True
...,...,...,...,...,...,...,...,...
8392,Z24114092.pdf,47300,2,"Due Date: Dec 16, 2021\n: Z24114092\nJackson a...",[],Z24114092,28322.48,True
8394,Z31385423.pdf,54072,2,"Invoice num.: Z31385423\nDue on: Apr 15, 2021\...",[],Z31385423,18445.28,True
8397,Z36196073.pdf,52965,2,Invoice Locator: Z36196073\nPayment Due: Oct 2...,[],Z36196073,15393.91,True
8401,Z46391021.pdf,46272,2,": Z46391021\nDate of Exposure: Dec 21, 2021\nJ...",[],Z46391021,10583.42,True
8410,Z97075465.pdf,52974,2,": Z97075465\nPayment Due: Jan 21, 2023\nCrawfo...",[],Z97075465,28372.96,True