In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd
from PIL import Image
from tqdm import tqdm

from lib.data import load_extracted_samples
from lib.ocr import OCRParams, ocr_sample
from lib.text import extract_total

In [3]:
samples = load_extracted_samples()
samples = [s for s in samples if len(s["text"]) == 0]

In [10]:
params = OCRParams("easyocr", grayscale=False, threshold=None)

k = 0

for sample in tqdm(samples):
    text = ocr_sample(sample, params, only_cache=True)
    total = extract_total(text)

    text1 = ocr_sample(sample, OCRParams("easyocr", grayscale=False, threshold=None), only_cache=True)
    text2 = ocr_sample(sample, OCRParams("tesseract", grayscale=False, threshold=None), only_cache=True)

    total1 = extract_total(text1)
    total2 = extract_total(text2)

    if total1 is not None or total2 is not None:
        k += 1
        
    sample.update({"text": text, "total": total})

100%|██████████| 6294/6294 [02:13<00:00, 47.19it/s]

In [14]:
k / len(samples)

0.8182395932634254

In [15]:
df = pd.DataFrame(samples)
df["total_abs"] = df["total"].abs()
df.sort_values(by=['total_abs'], ascending=True, inplace=True)
df

,filename,size,pages,text,images,total,total_abs
3057,G94880599.pdf,1051202,2,"nvoice Date: Jan 19, 2023\nLocator #: G9488059...",[/mnt/c/Users/mlomb/Desktop/ParaiSUR/data-extr...,108.51,108.51
2385,Email_Attachment_2022-01-29_5833.pdf,1084415,2,"Invoice #: 744125397\nParaSlR\nDue on: Jan 29,...",[/mnt/c/Users/mlomb/Desktop/ParaiSUR/data-extr...,130.85,130.85
6262,Y36106652.pdf,962817,2,"Sep\nInvoice\nDate:\n18 ,\n2022\nParaisu?\nY36...",[/mnt/c/Users/mlomb/Desktop/ParaiSUR/data-extr...,-142.79,142.79
739,2022-08-02_5021.pdf,1361756,2,Invoice: 670530008\nTaylor; Shelton and Hickma...,[/mnt/c/Users/mlomb/Desktop/ParaiSUR/data-extr...,-184.80,184.80
3657,Incoming_inv_ParaisurZ996560_4319.pdf,1042859,2,P64901557\nLewis-Orozco\nHaiti\nIssuance date:...,[/mnt/c/Users/mlomb/Desktop/ParaiSUR/data-extr...,336.93,336.93
...,...,...,...,...,...,...,...
6280,Z29046653.pdf,664211,2,Invoice num:: Z29046653\nParaiSUR\nAv Belgrano...,[/mnt/c/Users/mlomb/Desktop/ParaiSUR/data-extr...,NaN,NaN
6284,Z37036921.pdf,1081119,2,237036921\nSaint\nPierre\nand Miquelon\nPotter...,[/mnt/c/Users/mlomb/Desktop/ParaiSUR/data-extr...,NaN,NaN
6286,Z47518912.pdf,2075725,2,Invoice num:: Z47518912\nParaiSUR\nAvBelgrano ...,[/mnt/c/Users/mlomb/Desktop/ParaiSUR/data-extr...,NaN,NaN
6291,Z86093956.pdf,1099676,2,"Inv#\n286093956\nParaiSUR\nIssuance\nFeb 19 ,\...",[/mnt/c/Users/mlomb/Desktop/ParaiSUR/data-extr...,NaN,NaN
6293,Z93108114.pdf,1858306,2,"Invoice issued: Jan 17, 20\nInvoice: Z93108114...",[/mnt/c/Users/mlomb/Desktop/ParaiSUR/data-extr...,NaN,NaN

In [ ]:
k = 14
df.iloc[k]["total"], df.iloc[k]["text"]

In [ ]:
Image.open(df.iloc[k]["images"][-1])

In [ ]:
df[df["total_abs"] < 100]